*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    margin: auto;
}

button{
    border-style: none;
}

button:hover{
opacity: 80%;
}

.bk{
    border: 1px solid red;
}

/*header*/
.nav-fixed{
    height:60px ;
    width: 100%;
    float: right;
    background-color: white;
}

.logo{
    margin-left: 1em;
    margin-top: 11px; 
}
ul{
    display: inline-block;
    list-style: none;
    font-size: xx-small;
}

.space{
    margin-left: 1em;
    margin-right: 35em;
}

.space-2{
    margin-right: 5px;
    
}

.a{
    text-decoration: none;
    color: black;
}
li{
    float: left;
    margin-left: 2em;
    
}

.button-nav{
    margin-left: 18px;
    color: white;
    background-color: blue;
    padding: 0.5em;
    width: 5em;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.sez-1{
    height: 650px;
    background-color: rgb(134, 166, 226);
    
}

.jumbo{
    margin-top: -14em;
    margin-left: 27em;
    width: 700px;
}

h1{
    font-size: 65px;
}

p{
    font-size:  x-small;
}

.h1-p{
    margin-left: 6em ;
    margin-top: 7em;
}

.bt1{
    color: white;
    background-color: blue;
    padding: 0.5em;
    width: 15em;
}


.arrow{
    font-size: xx-large;
    padding-top: 3em;
    text-decoration: none;
    color: black;
}

/*main*/
.sez-2{
    height: 1370px;
    
}


.h2{
    font-size: 35px;
    margin-top: 4em;
    margin-left: 5em;

}

.circle{
    width: 20px;
    height: 20px;
    border: solid 5px blue;
    border-radius: 100%;
}

.circle2{
    width: 20px;
    height: 20px;
    border:1px solid grey;
    border-radius: 100%;
}

.line{
    display: inline;
    margin-right: 10px;
    margin-left:10em ;
}

.fatturazione{
    margin-left: 2em;
    margin-top:4em ;
}

.column{
    margin-left: 7em;
}

.col{
    border: grey 1px solid;
    width: 300px;
    height: 1050px;
    display: inline-block;
    float: left;
    margin-left: 45px;
    margin-top:2em;
}


.pro2{
    margin-left: 15px;
    margin-top: 20px;
    line-height: 28px;
}

.singolo{
    height: 50px;
    width: 300px;
    border-bottom: grey 1px solid;
    text-align: center;
}

.alin{
    margin-left: 18px;
}

.line-g{
    color: rgb(200, 194, 194);
}

.button-col{
    margin-left: 18px;
    color: white;
    background-color: blue;
    padding: 0.5em;
    width: 16em;
    margin-left: 5px;
    margin-bottom: 25px;
    
}

.margin{
    margin-left: 5px;
}

.visto{
    color: blue;
    font-size: 16px;
}




/*inizio-3 sezione */
.sez-3{
    height: 259px;
    width: 74em;
}

.enter{
    border: solid 1px gray;
    height: 210px;
    width: auto;
    margin-top: 2em;
    margin-left: 168px;
    margin-right: 168px;
}

.box-team{
    height: 60px;
    border-bottom: solid 1px gray;
    text-align: center;
}

.sez3-bt{
    margin-left: 67em;
    color: white;
    background-color: blue;
    padding: 0.5em;
    width: 22em;
    font-size: xx-small;
    margin-top: -14px;
}

.enter-in{
    margin-left: 1em;
    margin-top: 1em;
}

/*inizio-4 sezione */
.sez-4{
    height: 610px;
}

.size-img{
    width: 500px;
}

.move-img{
    width: 500px;
    margin-left: 168px;
    margin-top: 7em;
}

.text-move{
    width: 450px;
    margin-left: 40em;
    margin-top: -22em;
}


.img-bt{
    border: solid;
    width: 150px;
    height: 35px;
    background-color: white;
    margin-top: 15px;
}

/*inizio-5 sezione */
.sez-5{
    height: 610px;
}

.bk-4{
    border: green solid 1px;
}












/*inizio-box sezione */
.sez-box{
    height: 610px;
}
/*inizio-bigbox sezione */
.sez-bigbox{
    height: 610px;
}
/*inizio-ansawer sezione */
.sez-ansawer{
    height: 610px;
}

/*footer*/

.footer-cont{
    height: 550px;
}