*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    
    margin: auto;
}

button{
    border-style: none;
}

button:hover{
opacity: 80%;
}

.bk{
    border: solid transparent;
}

/*header*/
.nav-fixed{
    height:60px ;
    width: 100%;
    float: right;
    background-color: white;
    position: fixed;
    line-height: 60px;
}

.logo{
    margin-left: 1em;
    display: inline-block;
    margin-bottom: 19px;
}
#ul{
    display: inline-block;
    list-style: none;
    font-size: xx-small;
}

.space{
    margin-left: 1em;
    margin-right: 35em;
}

.space-2{
    margin-right: 5px;
    
}

.a{
    text-decoration:none ;
    color: black;
    display: inline-block;
    height: 57px;
    border-bottom: 2px solid transparent;
}

.a:hover{
    border-bottom: 2px solid black;
}

.li-nav{
    float: left;
    margin-left: 2em;
    line-height: 60px;
}

.button-nav{
    margin-left: 18px;
    color: white;
    background-color: blue;
    padding: 0.5em;
    width: 5em;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.sez-1{
    
    background-color: rgb(134, 166, 226);
    
}

.n91{
    width: 80%;
    margin: 0 auto;
}

.jumbo{
    float: left;
    margin-top: -14em;
    margin-left: 27em;
    width: 700px;
}

h1{
    font-size: 59px;
}

p{
    font-size:  x-small;
}

.h1-p{
    
    margin-top: 7em;
}

.bt1{
    color: white;
    background-color: blue;
    padding: 0.5em;
    width: 15em;
}


.arrow{
    font-size: xx-large;
    padding-top: 3em;
    text-decoration: none;
    color: black;
}

/*main*/



.h2{
    font-size: 35px;
    margin-top: 4em;
    margin-left: 1em;
}

.circle{
    width: 20px;
    height: 20px;
    border: solid 5px blue;
    border-radius: 100%;
}

.circle2{
    width: 20px;
    height: 20px;
    border:1px solid grey;
    border-radius: 100%;
}

.line{
    display: inline;
    margin-right: 10px;
}

.fatturazione{
    margin-left: 2em;
    margin-top:4em ;
}

.column{
    width: auto;
}

.col{
    border: grey 1px solid;
    width: calc(100% / 3 - 45px);
    height: 1050px;
    display: inline-block;
    float: left;
    margin-left: 45px;
    margin-top:2em;
}


.pro2{
    margin-left: 15px;
    margin-top: 20px;
    line-height: 28px;
}

.singolo{
    height: 50px;
    width: auto;
    border-bottom: grey 1px solid;
    text-align: center;
}

.alin{
    margin-left: 18px;
}

.line-g{
    color: rgb(200, 194, 194);
}

.button-col{
    margin-left: 18px;
    color: white;
    background-color: blue;
    padding: 0.5em;
    width: 16em;
    margin-left: 5px;
    margin-bottom: 25px;
}

.margin{
    margin-left: 5px;
}

.visto{
    color: blue;
    font-size: 16px;
}


/*inizio-3 sezione */


.enter{
    border: solid 1px gray;
    height: 210px;
    width: auto;
    margin-top: 2em;
    margin-left: 45px;
    
}

.box-team{
    height: 60px;
    border-bottom: solid 1px gray;
    text-align: center;
}

.sez3-bt{
    margin-left: 67em;
    color: white;
    background-color: blue;
    padding: 0.5em;
    width: 22em;
    font-size: xx-small;
    margin-top: -14px;
}

.enter-in{
    margin-left: 1em;
    margin-top: 1em;
}

/*inizio-4 sezione */


.size-img{
    width: 500px;
}

.move-img{
    margin-right: 8%;
    margin-bottom: 8%;
    margin-left: 13%;
    margin-top: 8%;
}

.text-move{
    float: right;
    display: inline-block;
}


.img-bt{
    border: solid;
    width: 150px;
    height: 35px;
    background-color: white;
    margin-top: 15px;
}

/*inizio-5 sezione */


.bk-4{
    border: transparent solid 1px;
}

.size-imge{
    width: 80%;
    
}

.sez5-float{
    float: left;
    margin-left: 13%;
    margin-bottom: 7%;
}

.p1{
    margin-right: 2em;
    float: left;
    width: calc(100% / 3 - 2em);
}

.h2-sez5{
    margin-left: 13%;
}

.h2-sez50{
    margin-left: 13%;
    margin-bottom: 5%;
}

/*inizio-box sezione */


.box9{
    float: left;
    width: 200px;
    height: 200px;
    
}

.box-left{
    width: 400px;
    height: 400px;
    float: left;
}

.box9center{
    float: left;
    width: calc(100% - 800px);
    height: 400px;
    background-color:rgb(219, 218, 218);
    
}

.desi-in{
    margin: 6%;
}

.box-right{
    width: 400px;
    height: 400px;
    float: left;
}

.box92{
    float: left;
    width: 200px;
    height: 200px;
    background-color: tomato;
}

.size-incard1{
    width: 100px;
    filter: invert(100%);
    display: block;
    margin: 50px auto;
    text-align: center;
}

.size-incard2{
    width: 100px;
    margin: 8%;
}

.a1{
    background-color: rgb(179, 223, 179);
    border: solid 7px rgb(212, 245, 212);
    padding-top: 22px;
}

.b1{
background-color: rgb(93, 22, 66);
}

.c1{
background-color: rgb(34, 144, 180);
}

.d1{
background-color: red;
}

.e2{
background-color: crimson;
}

.f2{
    background-color: rgb(174, 197, 241);
}

.g2{
    background-color: darkblue;
}

.h21{
    background-color: rgb(230, 230, 63);
}


/*inizio-bigbox sezione */
.sez-bigbox{
    background-color: rgb(174, 198, 243);
}

.purple{
    color: darkred ;
    font-size: 2em;
    margin: 4em;
}

.h2-purple{
    float: left;
}

.bt-bigbox{
    padding: 0.5em;
    width: 18em;  
    margin-top: 150px;
    margin-left: 130px;
}

/*inizio-ansawer sezione */


.domande{
    width: 76%;
    display: block;
    margin: 10%;
}

.domande .q:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.q{
    padding: 40px ;
    border-top: solid 1px rgba(0, 0, 0, 0.3) ;
    position: relative;
}

.q> p{
    font-weight: bolder;
}

.x{
    margin: 20px;
    display: none;
    opacity: 0.5;
}

.q:hover .x {
    display:block ;
}

.feccetta{
    position: absolute;
    right: 1em;
}
.feccetta .fa-chevron-up{
    display: none;
}


.q:hover .feccetta .fa-chevron-up{
    display: block;
}

.q:hover .feccetta .fa-chevron-down{
    display: none;
}









/*footer*/

.bkg-dark{
    background-color: black;
}
.whit{
    text-decoration:none ;
    color: white;
    list-style: none;
    font-size: xx-small;
}

.li-form{
    list-style: none;
    padding-bottom: 10px;
}

.title-list{
    padding-bottom: 1em;
    font-size: 19px;
    padding-top: 5em;
}

.float-footer{
    float: left;
    padding-left: 9%;
    padding-bottom: 3em;
}

.line-bottom{
    color: white;
    padding-bottom: 1em;
    float: left;
    padding-left: 9%;
}

.leng-it{
    color: rgb(158, 158, 158);
padding-bottom: 5em;
float: left;
padding-left: 9%;
}

.planet{
width: 15px;
}

.switch{
    color:rgb(158, 158, 158) ;
    background-color: black;
}
